//Font
$font-lato: 'Lato', sans-serif;

//Primary btn
$primary-background: #ebff00;
$primary-color: #000;

//Outlined btn
$outlined-background: none;
$outlined-color: #ebff00;

//Colors
$color-white: #fff;
$color-black: #000;
$color-burger-bg: #1a1a1a;
$color-dark-blue: #304571;
$color-yellow: #ebff00;
$color-pink: #FF70D9;

//Weight
$extra-bold: 800;
$bold: 700;

//Media
$desktop: 1247px;
$tablet: 767px;
$mobile: 576px;
